body {
  min-height: 2000px;
  padding-top: 50px;
}

.navbar-coral {
  background-color:#ADD8C7;
	color: white;
}

.navbar-coral a {
  color: white;
}

.navbar-coral a:hover {
  background-color: #1693A5;
}

#carousel-main .carousel-inner{
  height: 300px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
